* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url(img/mapa.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-maior {
    background-color: #000000f2;
    width: 450px;
    border-radius: 25px;
    padding: 20px;
}

.input-texto {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    padding: 15px;
}

.controle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.idioma {
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: #fff;
}

button {
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
}

.resultado {
    background-color: #ffffff1a;
    padding: 15px;
    border-radius: 15px;
}

.titulo-traducao {
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}

.traducao {
    color: #fff;
    font-size: 18px;
}